body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    
}
.logo {
    height: 120px;
    border-radius: 300px;
    margin-left: 7em;

}
input, button{
    outline: none;
    width: 300px;
    margin: 4px;
   padding:8px ;
   margin-top: 10px;
   margin-bottom: 10px;
   border: none ;
   border-radius: 5px;
   background-color: rgb(8, 8, 8);
   color: white;
}
.password:hover {
    border: 1px solid lightblue;
}
.email:hover {
    border: 1px solid rgb(147, 214, 236);
}
.submit {
    margin-top: 8px;
    width: 315px;
    height: 30px;
    color: white;
    text-align: center;
    background-color: rgb(147, 214, 236);
    
}
#google-button {
    margin-top: 8px;
    width: 315px;
    height: 30px;
    color: white;
    margin-left: 2em;
    text-align: center;
    background-color: rgb(147, 214, 236);
    
}
i {
    color: white;
}
.submit:hover {
    cursor: pointer;
}
.main1 {
    margin-top: 5em;
    margin-bottom: 15em;
   padding-top: 20px;
   width: 350px;
   background-color: black;
   height: 400px;
   justify-content: center;
   align-items: center;
   border-radius: 8px;


}
.sgnopt {
    margin-top: -7em;
    border: none;
    border-radius: 8px;
    background-color:  black;
    height: 100px;
    margin-left: 1.2em;
}
.sgnopt2 {
    margin-top: -7em;
    border: none;
    border-radius: 8px;
    background-color:  black;
    height: 100px;
    margin-left: 1.2em;
}
form {
    padding: 20px;
    width: 310px;
    background-color: black;
    height: 280px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
}
.form1 {
    padding: 20px;
    width: 310px;
    background-color: black;
    height: 350px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
}
.dont {
    margin-top: -2em;
    text-align: center;
    color: white;
}
.dont1 {
    margin-top: 1em;
    text-align: center;
}
.passwordl {
    display: flex;
}
span {
    margin-left: 11em;
}
label {
    margin-left: 4px;
    margin-top: 5px;
    margin-bottom: 2px;
    color: white;
}
a {
    color: lightseagreen;
    font-size: 12px;
    text-decoration: none;
}
